.cart-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-item {
    display: flex;
    gap: 10px;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 8px;
}

.cart-item-thumbnail {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 4px;
}

.cart-item-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.cart-item-title {
    font-weight: bold;
    margin: 0;
}

.cart-item-price {
    margin: 0;
}

.cart-item-actions {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

.cart-item-quantity {
    font-weight: bold;
}
#cart-total-title {
    font-family: PoppinsBlack;
    font-weight: bold;
    margin-right: 50px;
    color: #f57f67;
}

#cart-total-value {
    font-family: FjallaOne;
    font-weight: bold;
    margin-top: -5px;
    color: #4CAF50;
}

.cart-total {
    display: flex;
    align-items: center;
    background-color: #181C22;
    padding: 15px;
    line-height: 2;
}
.cart-item-title{
    font-family: FjallaOne;
    font-weight: bold;
    color: #f57f67;
}
.cart-item-price{
    font-family: FjallaOne;
    font-weight: bold;
    color: #4CAF50;
}
.cart-item-thumbnail{
    background-color: #cacaca;
}
.cart-item-quantity{
    border: 1px solid #16191E;
}
.canvas-cart-body{
    background: #16191E;
}
.canvas-cart-heading{
    background: #181C22;
}
.canvas-cart-heading-title{
    font-family: PoppinsBold;
    font-weight: bold;
    color: #4CAF50;
    font-size: xx-large;
}
