.card-cs {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
}

.card-cs::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(148,187,233,1) 100%);
  opacity: 0.1;
  transition: opacity 2s;
  z-index: 1;
}

.card-cs:hover {
  transform: scale(1.019);
  filter: brightness(70%);
}

.card-img-overlay-cs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 2;
}

.card-cs img {
  transition: opacity 1s ease-in-out;
}

.card-cs:hover img {
  opacity: 0.8;
}

.card-cs:hover::before {
  opacity: 0.7;
}
.card-cs-sp:hover::before {
  opacity: 0.4;
}

.card-cs:hover .card-img-overlay-cs {
  opacity: 1;
}

.card-cs1:hover img {
  content: url('/pics/product/black-hoodie.jpg');
  opacity: 0.8;
}

.card-cs2:hover img {
  content: url('/pics/product/pants-grey2.jpg');
}
@keyframes colorStopA {
  0% {
    background-position: 0%, 100%;
  }
  100% {
    background-position: 100%, 0%;
  }
}

.btn-overlay-cs {
  
  background: linear-gradient(90deg,  #9CECFB, #65C7F7);
  color: #1B082E;
  border: none;
  padding: 5%;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.5rem;
  position: relative;
  z-index: 1;
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-family: 'LilitaOne';
  height: 30vw;
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-overlay-cs:hover {
  background: linear-gradient(90deg,  #65C7F7, #0052D4);
}

.card-title-Home-page {
  letter-spacing: 1em;
  font-size: 1.5em;
}