# Ignore text/ directory
text/

# Ignore test/ directory
test/

# Ignore JS Files
js/.amtest.js
js/.pleasework.js

# Ignore HTML Files
html/test.html

# Ignore git diff Files
side-by-side

# pictures
pics/assets/

# TODO LIST
TODO.md

#folder structure
folder_structure.txt

#prepros config
prepros.config

# npm files
/node_modules

# Trash Files here
Trash

# pictures
pics/product/shoes/assets