# Ignore text/ directory
text/

# Ignore test/ directory
test/

# Ignore JS Files
js/.amtest.js
js/.pleasework.js

# Ignore HTML Files
html/test.html

# Ignore git diff Files
side-by-side

# pictures
pics/assets/

# TODO LIST
TODO.md

# Trash Files here
Trash