.lazyload {
  opacity: 0;
}

.lazyloading {
  opacity: 1;
  transition: opacity 300ms;
  background: #f7f7f7 url(../../pics/loader/loader.gif) no-repeat center;
}

img.lazyload:not([src]) {
  visibility: hidden;
}
